<h4>Player-detail works!</h4>
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <form [formGroup]="playerForm" class="form-control">
        <table class="table">
          <tr>
            <td>Player Name:</td>
            <td><input class="form-control" type="text" formControlName="id" disabled></td>
          </tr>
          <tr>
            <td>Player Name:</td>
            <td><input class="form-control" type="text" formControlName="name" disabled></td>
          </tr>
          <tr>
            <td>Player Champ:</td>
            <td><input class="form-control" type="text" formControlName="champ" disabled></td>
          </tr>
          <tr>
            <td>Player KDA:</td>
            <td><input class="form-control" type="text" formControlName="kda" disabled></td>
          </tr>
          <tr>
            <td>Description:</td>
            <td><input class="form-control" type="text" formControlName="description" disabled></td>
          </tr>
        </table>
      </form>
      <button class="btn btn-outline-secondary" (click)="back()">Back to List</button>
    </div>
    <div class="col-3"></div>
  </div>
</div>

